.contacts {
  height: 100vh;
  padding: 2rem;
  color: #fff;
  display: flex;
  flex-direction: row;
}
.contact-side .form {
  width: 100%;
  padding-left: 5rem;
}
.contacts .resume-side{
  display: flex;
  flex-direction: column;
}
.contacts .resume-side .download{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .contacts {
    padding: 1rem;
    height: max-content;
    flex-direction: column;
  }
  .contacts .resume-side{
    height: max-content;
  }
  .contacts .contact-side .form {
    padding-left: 0;
    justify-content: center;
  }
}
