.card {
  height: 28.5rem;
  width: 25rem;
  background-color: rgba(0, 238, 255, 0.041);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  box-shadow: rgba(50, 89, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.card .picture img {
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
}
.card .notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 13rem;
  padding: 1rem;
}
.card .notes p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}
.card .notes h1 {
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 10px;
}
.card .notes a {
  border-radius: 8px;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: rgb(0, 26, 32);
  color: rgb(0, 198, 212);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card .notes a:hover {
  background-color: rgb(0, 26, 31);
}
@media (max-width: 480px) {
  .card {
    height: 28rem;
    width: 100%;
  }
  .card .notes h1 {
    font-size: 2.5rem;
  }
}
