.main {
  font-family: "Times New Roman", Times, serif;
  height: 90dvh;
}
.Typewriter__wrapper {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
}
.Typewriter__cursor {
  background-color: #fff;
}
.main h5 {
  color: rgb(148, 148, 148);
  font-family: "Courier New", Courier, monospace;
}
@media (max-width: 480px) {

  .Typewriter__wrapper {
    font-size: 1.8rem;
  }
}
