.bar{
    display: flex;
    flex-direction:column ;
    height: fit-content;
    max-width: 22rem;
    min-width: 21rem;
    margin-top: 2rem;
}
.bar .box{
    display: flex;
    flex-direction: row;
    padding: 0.75rem;
}
.bar .box .logo img{
    height: 3rem;
    width: auto;
    margin-right: 1rem;
}
.bar .text{
    min-width: 14rem;
    max-width: 16rem;
    text-align: center;
}
.bar .box h3{
    font-size: 2rem;
}
.p-bar{
    bottom: 0;
}
@media (max-width:480px){
    .bar{
        min-width: none;
        margin-top: 0;
    }   
    .bar .box .logo{
        padding: 0.25rem;
    }
    .bar .box .logo img{
        height: 2.5rem;
    }
}