.project {
  height: max-content;
  color: #fff;
}
.cards {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.cards::-webkit-scrollbar {
  display: none;
}
@media (max-width: 480px) {
  .cards {
    flex-direction: column;
    justify-content: space-around;
  }
}
