.skills {
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}
.skills p {
  padding: 1rem;
  text-align: center;
}
.skillBars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: large;
  flex-wrap: wrap;
}
.skillBars .eachBar {
  padding: 1rem;
}
@media (max-width: 480px) {
  .skills {
    height: max-content;
    padding-bottom: 2rem;
  }
  .skills p {
    font-size: 1.2rem;
    flex-direction: column;
    flex-wrap: none;
  }
}
