#root {
  margin: 0;
  padding: 0;
}
body{
  height: max-content;
  background: url("../src/assets/hero.jpg") fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  user-select: none;
}

